@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@300;400&family=Lato:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}
  
  body {
    color: #494949;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    
  }

  h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #logo {
    font-family: Koulen, sans-serif;
    float: left;
    font-size: 280%;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
  }

  
  #menu, #logo, #main-menu {
    line-height: 75px;
}

  a, button {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

#main-menu {
  display: none;
}

.top-nav a:hover {
  background-color: rgba(166,206,239, .4);
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

.top-nav {
  font-family: Monsterrat, sans-serif;
  box-sizing: border-box;
  text-transform: uppercase;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  background: #fcfbfb;
  
  color: #6a6a6a;
  height: 50px;
  padding: 2em 1.45em;
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  height: 2em;
  padding: 0.8em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  color: #3a3a3a;
  background-color: rgba(252,251,251, .9);
  margin: 0 1rem;
  overflow: hidden;
  line-height: 32px;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid rgb(250, 248, 248);
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #6a6a6a;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(106,106,106, 0);

}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}



/* MENU START */


  /* .top-nav a:hover {
    background-color: rgba(166,206,239, .4);
}

  .active {
    border-bottom: 1px solid #3a3a3a;
}

  .top-nav {
    font-family: Monsterrat, sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
    
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background: #fcfbfb;
    
    color: #6a6a6a;
    height: 50px;
    padding: 2em 1.45em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    line-height: 32px;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #6a6a6a;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(106,106,106, 0);

  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 710px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 60px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2em;
      padding: 0.8em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 0.5em 0;
      width: 100%;
      color: #3a3a3a;
      background-color: rgba(252,251,251, .9)
      ;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid rgb(250, 248, 248);
    }
  } */

/* THE END */

#top {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f4dfc2;
  position: relative;
  z-index: -2;
}

#hero-image {
  height: 400px;
  width: 100%;
  background: url(../images/hero-image-mobile.webp) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

#cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: -80px;
  z-index: 2;
}

.card {
background-color: #fcfbfb;
padding: 2em;
z-index: 3;
box-shadow: 2px 2px 4px #a4a3a3;
}

.card-text {
margin: 0 auto;
}

.icon-and-heading {
  text-align: center;
}

.icon-and-heading h2 {
  display: inline-block;
}

.icon-and-heading i {
  font-size: x-large;
  padding: 0 10px;
}

.card h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-size: 130%;
  padding: 5px;
  letter-spacing: 1px;
  /* margin: 0px 20px 0px 20px; */
  
}

#ethos {
  background-color: #333333;
  z-index: 0;
}

#ethos-container {
  display: flex;
  flex-direction: column;
  width:70%;
  margin: 0 auto;
  padding: 15% 0;
}

.ethos-box {
  color: #fcfbfb;
}

.ethos-box h1 {
  margin: 0em 1em 1.5em 1em;
  
}

button {
  margin: 3em 0em 3em 0em;
  padding: 1em 6em 1em 6em;
  color:#333333;
  background-color: #c9cbc8;
  border: 2px solid #000;
  letter-spacing: 2px;
  font-weight: 400;
}

#training {
  background-color: #fcfbfb;
}

#bootcamp {
  /* display:flex;
  flex-direction: column; */

  position: relative;
  padding-bottom: 25%;
}

#image-training {
  width: 100%;
  height: 350px;
  background: url(../images/training.webp) no-repeat center top;
  height: 400px;
  background-size: contain;
  z-index: 2;

  position: relative;
}

#color-block {
  width: 150px;
  height: 500px;
  background-color: #e06666;
  
  position: absolute;
  bottom: 20%;
  right: 0;

  z-index: 0;
}

#white-box {
  font-size: 130%;
  
  width: 60%;
  height: 40%;
  line-height: 200%;
  padding: 30px 15px 0px 15px;
  background-color: #a6ceef;


  bottom: 5%;
  left: 18%;

  position: absolute;
  z-index: 3;
}

/* .text-block {
  margin: 0 auto;
} */

#white-box h2 {
  font-size: 95%;
  padding:5px;
}

#white-box h1 {
  font-weight: bold;
  text-transform: none;
  padding: 5px;
}

#white-box a {
font-size: 75%;
text-decoration: underline;
}






.back-to-the-top {
  place-self:end;
  position: sticky;
  bottom:30px;
  margin-left:70%;
  margin-top:100vh;
  color: #a6ceef;
  font-size: xxx-large;
}



@media screen and (min-width: 768px) {
  
  .menu-button-container {
      display: none;
    }
  
    #main-menu {
      display: flex;
      flex-direction: row;
      font-size: 110%;
      letter-spacing: 1px;
      
    }
      
    #main-menu li { 
      float: right;
      list-style: none;
      margin: 0 0 0 20px;
    }

    #hero-image {
      height: 570px;
    }

    #cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 15px;
      margin: -20% 8% 0 8%;
      justify-content: center;
    }

    .card {
      display: flex;
      width: 240px;
      height: 200px;
      align-items: center;
    }

    .card i {
      display: block;
      font-size: 200%;
      color: #a0a0a0;
      padding-bottom: 10px;
    }
  
    .card p {
      font-size: 120%;
    }

    /* .icon-and-heading {
      margin-top: -5px;
    } */

    .ethos {
      margin-top: -30px;
    }
  
} 

  
  