@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:wght@300;400&family=Montserrat:wght@300;400&display=swap');

/* Defaults and Variables */

:root {
  --blue: #a6ceef;
  --lightgray: #efefef;
  --coral: #e06666;
  --dark: #333333;
  --whitesmoke: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color: #515151;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  background-color: var(--lightgray);
}

hr {
  height: 30px;
}

h1,
h2 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p,
label,
td {
  font-size: 120%;
  padding: 5px;
  letter-spacing: 1px;
}

#logo {
  font-family: Koulen, sans-serif;
  font-size: 280%;
  letter-spacing: 4px;
  font-weight: bold;
  padding-left: 3%;
}

a,
button,
.join-button {
  font-family: Montserrat, sans-serif;
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

button,
.join-button {
  margin: 2em 0 0 0;
  padding: 0.7em 2.9em;
  color: var(--dark);
  background-color: var(--blue);
  border: 2px solid #6a6a6a;
  font-size: 110%;
  letter-spacing: 2px;
}

/* Navbar */

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--lightgray);
  height: 4em;
  padding: 0 4%;
  border-bottom: 2px solid #dfdfdf;
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 1.875em;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 3.75em;
  left: 0;
  flex-direction: column;
  width: 97%;
  align-items: center;
}

#menu-switch~.menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-switch:checked~.menu li {
  height: 2em;
  padding: 0.8em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu>li {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
  color: var(--dark);
  background-color: rgba(240, 240, 240, .9);
  overflow: hidden;
  line-height: 2em;
}

#menu-switch {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #6a6a6a;
  position: absolute;
  height: 0.25em;
  width: 1.875em;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -0.5em;
}

.menu-button::after {
  content: '';
  margin-top: 0.5em;
}

#menu-switch:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-switch:checked+.menu-button-container .menu-button {
  background: rgba(106, 106, 106, 0);
}

#menu-switch:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.active {
  border-bottom: 1px solid var(--dark);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  margin-bottom: 3.125em;
}

/* Hero Img */

.top {
  height: 100%;
  width: 100%;
  background-color: #f4dfc2;
  z-index: -2;
}

.hero-image {
  height: 25em;
  width: 100%;
  z-index: -1;
}

#index-img {
  background: url(../images/hero-image-mobile.webp) no-repeat center center;
  background-color: var(--blue);
  background-size: cover;
  height: 31.25em;
}

#philosofy-img {
  background: url(../images/philosofy-mobile.webp) no-repeat center center;
  background-color: #d77373;
}

#meetups-img {
  background: url(../images/meetups-mobile.webp) no-repeat left center;
  background-color: var(--blue);
}

/* Hero-Cards */

#cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.625em;
  margin-top: -5em;
  z-index: 2;
}

.card {
  background-color: #f2f2f2;
  padding: 2em;
  z-index: 3;
}

.icon-and-heading h2 {
  display: inline-block;
}

.icon-and-heading i {
  font-size: x-large;
  padding: 0 10px;
}

.card h2 {
  font-weight: bold;
  margin: 5px 0;
  letter-spacing: 2px;
}

/* Ethos (Dark block) */

#ethos {
  height: 43.75em;
  background-color: var(--dark);
  z-index: 0;
  display: flex;
  align-items: center;
}

#ethos-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 15% 0;
  align-items: center;
}

.ethos-box {
  color: var(--lightgray);
  line-height: 180%;
}

.ethos-box h1 {
  margin: 0em 1em 1.5em 1em;
}

.ethos-box p {
  padding: 0;
}

/* Training Section */

#training {
  background-color: var(--lightgray);
  height: 100%;
  margin-bottom: 2em;
}

#bootcamp-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, minmax(1.15em, 4em));
  grid-template-columns: 1fr repeat(14, minmax(1em, 3.25em)) 1fr;
}

.black-overlap {
  background-color: var(--dark);
  grid-area: 1/1/2/-1;
}

.color-block {
  background-color: var(--coral);
  grid-area: 1/1/12/17;
}

.image-training {
  background: url(../images/training.webp) no-repeat center center;
  background-size: cover;
  z-index: 5;
  grid-area: 2/2/11/16;
}

.blue-box {
  line-height: 240%;
  padding: 2em;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 6;
  grid-area: 8/5/13/13;
}

.blue-box h2 {
  font-size: 120%;
  width: 100%;
  line-height: 150%;
  padding-bottom: 0.5em;
  font-weight: bolder;
}

.blue-box h1,
#meetups h1,
#philosofy h1 {
  width: 100%;
  font-family: Koulen;
  font-size: 200%;
  font-weight: bold;
}

.blue-box a,
.act-block a {
  text-decoration: underline;
  font-size: 105%;
  box-shadow: inset 0 0 0 0 var(--whitesmoke);
  margin: 0 -.25em;
  padding: 0 .1em;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* Activities (Coral block) */

#activities {
  background-color: var(--coral);
  padding: 4em 1em;
}

#activities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 2em;
  justify-content: center;
}

#activities-text {
  color: var(--lightgray);
  text-align: center;
  padding-bottom: 2em;
  width: 60%;
  margin: 0 auto;
}

#activities-text h1 {
  font-size: 300%;
  font-weight: bold;
  font-family: Koulen;
  letter-spacing: 5px;
  line-height: 130%;
  margin-top: -0.2em;
}

.act-block {
  height: 21.875em;
  width: 14.375em;
  background-color: var(--whitesmoke);
  padding: 1em;
  align-self: center;
}

.act-card-image {
  height: 14.375em;
  width: 14.375em;
  background-size: contain !important;
  overflow: hidden;
}

#activity-image-1 {
  background: url(../images/act1.webp) no-repeat center center;
}

#activity-image-2 {
  background: url(../images/act3.webp) no-repeat center center;
}

#activity-image-3 {
  background: url(../images/act2.webp) no-repeat center center;
}

.act-block h2 {
  font-size: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.3em 0 0 0;
}

.act-block p,
.text-wrapper p,
th {
  font-size: 118%;
  padding: 0.3em 0 0.8em 0;
}

/* Signup Section */

.signup-section {
  background-color: var(--lightgray);
  height: 100%;
}

.signup-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, minmax(1.15em, 4em));
  grid-template-columns: 1fr repeat(8, minmax(1em, 3.25em)) 1fr;
}

#stripe {
  background-color: var(--coral);
  z-index: 1;
  grid-area: 8/1/9/11;
}

.text-wrapper {
  background-color: var(--whitesmoke);
  border: 1px solid var(--dark);
  z-index: 7;
  grid-area: 5/3/10/9;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-section button {
  padding: 0.7em;
  margin: 0;
}

.signup-image {
  background: url(../images/signup-section.webp) no-repeat center bottom;
  background-size: cover;
  z-index: 3;
  grid-area: 1/1/7/11;
}

/* Footer */

footer {
  height: 6.25em;
  background-color: var(--coral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #dfdfdf;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-networks li {
  list-style: none;
  padding: 0 5%;
}

.social-networks i {
  font-size: 150%;
  color: var(--lightgray);
}

/* Philosofy Page */

#philosofy {
  padding: 3em 0;
}

.img-frame {
  justify-self: center;
  align-self: center;
}

.philosofy-img {
  width: 15.625em;
  height: 15.625em;
}

#img-1 {
  background: url(../images/philosofy1.webp) no-repeat center center;
  background-size: cover;
}

#img-2 {
  background: url(../images/philosofy2.webp) no-repeat center center;
  background-size: cover;
}

#img-3 {
  background: url(../images/philosofy3.webp) no-repeat center center;
  background-size: cover;
}

#philosofy-container {
  margin: 0 auto;
  display: grid;
  gap: 2em;
  width: 80%;
  padding: 1em 0;
}

.philosofy-text {
  line-height: 180%;
}

#philosofy h1 {
  color: var(--blue);
  font-weight: bold;
  font-size: 300%;
  padding: 0.3em 0;
  background: -webkit-linear-gradient(#a6ceef, #6a6a6a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Meetups Page */

#meetups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

#meetups h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 300%;
  background: -webkit-linear-gradient(#f4715c, #6a6a6a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  padding: 3em 0;
  line-height: 200%;
  font-size: 90%;
}

td,
th {
  background-color: var(--whitesmoke);
  text-align: left;
  padding: 5px;
  border: 1px dotted #848484;
}

th {
  font-size: 120%;
}

table a {
  font-weight: inherit;
  text-decoration: underline;
  text-transform: none;
}

/* Signup Page */

.signup {
  background-color: #111e26;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  color: var(--dark);
  background-color: rgba(229, 240, 247, 0.9);
  max-width: 21.875em;
  padding: 2em;
  margin: 7em 0 3em 0;
  border: 4px solid var(--whitesmoke);
  border-radius: 3px;
  text-align: left;
}

.signup-form h2 {
  font-size: 190%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #515151;
  padding: 1.25em 0;
}

.text-input,
select {
  background: rgba(245, 251, 255, 0.4);
  color: var(--dark);
  width: 93%;
  height: 3em;
  margin: 5px 0 20px 0;
  border: 2px solid #f8f8f8;
  border-radius: 3px;
  padding: 0 0.625em;
}

select {
  width: 100%;
}

.signup-form p {
  font-size: 90%;
  font-style: italic;
}

.join-button {
  margin: 1em 0;
}

/* Effects */

.gradient {
  background: -webkit-linear-gradient(#afd6e0, #6a6a6a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.easter-egg {
  opacity: 0;
}

/* Media Queries */

@media screen and (min-width: 768px) {

  /* Home Page */

  .menu-button-container {
    display: none;
  }

  .top-nav {
    justify-content: space-around;
    padding: 0;
  }

  .menu {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: row;
    margin: 0 -15px 0 0;
    width: 73%;
  }

  #menu-switch~.menu li {
    height: 100%;
    justify-content: center;
    margin: 0 0 0 1.25em;
    line-height: 25px;
  }

  .hero-image {
    height: 35.625em;
    background-position: bottom;
  }

  #cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: -10em 5% -10em 5%;
    justify-content: center;
  }

  .card {
    display: flex;
    width: 15em;
    height: 12.5em;
    align-items: center;
  }

  .card i {
    display: block;
    font-size: 200%;
    color: rgba(81, 81, 81, .6);
    padding-bottom: 10px;
  }

  .card p {
    font-size: 120%;
  }

  #black {
    height: 9.375em;
    width: 100%;
    background-color: var(--dark);
    z-index: -2;
  }

  #ethos {
    height: 38.75em;
  }

  #ethos-container {
    width: 60%;
    line-height: 200%;
  }

  #ethos-container h1,
  .blue-box h1 {
    font-size: 200%;
    line-height: 140%;
  }

  #bootcamp-container {
    display: grid;
    grid-template-rows: repeat(14, minmax(1em, 3.25em));
    grid-template-columns: 1fr repeat(14, minmax(1.15em, 4em)) 1fr;
  }

  .black-overlap {
    grid-area: 1/1/3/-1;
  }

  .color-block {
    grid-area: 1/13/13/16;
  }

  .image-training {
    grid-area: 2/3/12/15;
  }

  .blue-box {
    line-height: 240%;
    padding: 2em;
    grid-area: 9/2/14/9;
  }

  .text-wrapper {
    grid-area: 5/2/10/10;
  }

  .text-wrapper p {
    padding: 1.25em 0 1.5em 0;
  }

  /* Pholosofy Page */

  #philosofy-img {
    background: url(../images/philosofy.webp) no-repeat center center;
  }

  #philosofy-container {
    grid-template-columns: repeat(2, minmax(7.75em, 28em));
    gap: 3em;
  }

  .img-frame {
    background-color: var(--coral);
    width: 15.5em;
    height: 15.5em;
    transform: rotate(-10deg);
    z-index: 1;
  }

  .philosofy-img {
    justify-self: center;
    align-self: center;
    transform: rotate(15deg);
    z-index: 5;
  }

  .img-order {
    grid-area: 2/1/2/1;
  }

  .text-order {
    grid-area: 2/2/2/2;
  }

  /* Meetups Page */

  #meetups-img {
    background: url(../images/meetups.webp) no-repeat center center;
  }

  #meetups h1 {
    letter-spacing: 3px;
  }

  #meetups p {
    max-width: 30em;
  }

  /* Signup Page */

  .signup {
    background: url(../images/signup.webp) no-repeat left center;
    background-size: cover;
    height: 56.25em;
  }

  /* Effects */

  .shadow {
    box-shadow: 2px 2px 4px #848484;
  }
}

@media screen and (min-width:992px) {

  /* Home Page */

  .menu {
    width: 46em;
  }

  .top {
    background-color: var(--dark);
  }

  #meetups-img {
    padding: 0;
  }

  .hero-image,
  #index-img {
    height: 37.5em;
  }

  #index-img {
    background: url(../images/hero-image-desktop.webp) no-repeat center center;
    background-size: cover;
  }

  #cards-container {
    margin: -15em 2% -10em 2%;
  }

  .card {
    width: 10.125em;
    height: 15em;
  }

  .card-down {
    margin-top: 5em;
  }

  .card-up {
    margin-bottom: 5em;
  }

  #ethos {
    align-items: center;
  }

  #ethos-container {
    width: 40em;
  }

  .signup-container {
    grid-template-rows: repeat(10, minmax(1em, 3.25em));
    grid-template-columns: 1fr repeat(14, minmax(1.15em, 4em)) 1fr;
  }

  #stripe {
    grid-area: 4/1/7/6;
  }

  #stripe-2 {
    background-color: var(--coral);
    grid-area: 8/12/10/17;
  }

  .text-wrapper {
    grid-area: 2/2/9/8;
    padding: 13%;
  }

  .text-wrapper h1 {
    font-size: 210%;
    text-align: left;
    font-weight: bold;
  }

  .text-wrapper p {
    font-size: 120%;
    padding: 0.375em 0 1em 0;
    text-align: left;
  }

  .signup-image {
    grid-area: 3/6/13/16;
  }

  /* Meetups Page */

  td,
  th {
    padding: 0.5em 1em;
  }

  /* Signup Page */

  .signup-form {
    background-color: rgba(245, 251, 255, 0.8);
    margin: 0 10% 0 0;
    position: absolute;
    right: 0;
    padding: 1.75em;
  }

  /* Effects  */

  button,
  .blue-box,
  .act-block,
  .text-wrapper {
    transition: transform .2s;
  }

  .top-nav a:hover {
    background-color: rgba(166, 206, 239, .4);
  }

  .blue-box:hover,
  .act-block:hover,
  .text-wrapper:hover,
  .join-button:hover {
    transform: scale(1.03);
  }

  .blue-box a:hover,
  .act-block a:hover {
    box-shadow: inset 7.5em 0 0 0 var(--whitesmoke);
    color: #515151;
  }

  .act-block a:hover {
    box-shadow: inset 6.25em 0 0 0 var(--coral);
    color: var(--whitesmoke);
  }

  button:hover,
  .join-button:hover {
    background-color: #bbf5c7;
    transform: scale(1.03);
  }
}

@media screen and (min-width: 1200px) {

  /* Home Page */

  #index-img {
    height: 47em;
  }

  #cards-container {
    gap: 2em;
  }

  #ethos-container {
    display: flex;
    flex-direction: row;
    padding: 3em 0 2em 0;
    width: 60em;
  }

  .ethos-box {
    color: var(--lightgray);
    text-align: left;
    flex: 1;
    padding: 0 1.5em 0 1.5em;
  }

  #ethos-container>.ethos-box>h1 {
    font-size: 275%;
    line-height: 135%;
    margin: 0 0 0 0;
  }

  .signup-container {
    grid-template-rows: repeat(10, minmax(1em, 3.25em));
    grid-template-columns: 1fr 1fr repeat(14, minmax(1.15em, 4em)) 1fr 1fr;
  }

  #stripe {
    grid-area: 4/2/7/6;
  }

  #stripe-2 {
    background-color: var(--coral);
    grid-area: 8/12/10/18;
  }

  .text-wrapper {
    grid-area: 2/3/9/9;
    padding: 13%;
  }

  .signup-image {
    grid-area: 3/6/13/17;
  }

  /* Philosofy Page */

  #philosofy-container {
    grid-template-columns: repeat(2, minmax(7.75em, 28em));
    gap: 4em;
    justify-content: center;
  }

  /*(C) https://codepen.io/run-time/pen/VNRBJd */
  .easter-egg {
    position: absolute;
    top: 10em;
    font-size: 180%;
    z-index: 10;
    width: 16.875em;
    background: var(--lightgray);
    border-radius: 2.5em;
    padding: 0.9375em;
    color: var(--dark);
    opacity: 0;
  }

  .bubble-bottom:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 1.5em solid var(--lightgray);
    border-right: 0.75em solid transparent;
    border-top: 0.75em solid var(--lightgray);
    border-bottom: 1.25em solid transparent;
    left: 2em;
    bottom: -1.5em;
  }

  /* The end of the snippet */

  .easter-egg:hover {
    opacity: 100%;
  }
}